h3 strong {
  color: #B70303;
  font-size: 20px;
}

button {
  background-color: #FFA6A6;
  border-width: 0;
  width: 150px;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 4px;
  float: right;
  margin-top: 30px;
}

.test-section {
  margin-top: 80px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.profile-info > p {
  padding: 10px 0;
  font-weight: bold;
}


@media screen and (min-width: 600px) {
  .test-section {
    padding-left: 30px;
  }

  .profile-info {
    width: 60%;
  }

  .profile-info > div > p:nth-child(2){
    width: 250px;
  }

  .profile-info > div p.profile-details{
    text-align: left;
    padding-left: 20px;
  }
}