<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<app-header></app-header>
<main>
  <h4>
    <span>Blood Bank: {{bbDetails.owner.split('#')[1] }}</span>
    <br>Details of blood bag code {{bbDetails.BagId}}
  </h4>
  <button (click)="makeEdit()">Change Details</button>
  <div class="test-section">
    <h3>
      <strong>Blood Bank Details</strong>
    </h3>
    <section class="profile-info">
      <p>Date of Donation</p>
      <span>{{ bbDetails.DonationDate }}</span>
      <p>Affiliated Screening Centre</p>
      <span>{{ screenerName }}</span>
    </section>
  </div>
</main>
