<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<header>
  <div class="top-header">
    <img routerLink="/" src="../../assets/logo.png" alt="Logo">
    <!-- <button *ngIf="!loginService.loggedIn" routerLink="/login">Login</button> -->
    <button *ngIf="loginService.loggedIn" (click)="onLogOut()">Log Out</button>
  </div>
  <div class="bottom-header">
    <h3>Hi, Welcome to SmartBag</h3>
    <p>We are fighting drug counterfeiting and saving lives!</p>
    <p>powered by blockchain</p>
  </div>
</header>