header {
  box-sizing: border-box;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  padding: 2vh 4%;
}

.bottom-header {
  padding: 2vh 4%;
  height: 12vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fafafa;
  flex-direction: column;
}

.bottom-header > p:nth-child(3) {
  color: #B70303;
  font-weight: bold;
}

button {
  background-color: rgba(0,0,0,0);
  border-width: 0;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  margin-bottom: 2px;
}

img {
  width: 145px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .top-header, .bottom-header {
    padding: 2vh 8%;
  }


  button {
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    font-weight: bold;
    width: 100px;
    height: 40px;
  }
}