<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<div class="overlay" *ngIf="confirmResults">
  <div>
    <i class="fa fa-times" (click)="confirmResults = false"></i>
    <p>This is to confirm that you want to submit the filled form</p>
    <button [style.background-color]="'#27AE60'" (click)="sendResult()">Yes</button>
    <button [style.background-color]="'#B70303'" (click)="confirmResults = false">No</button>
  </div>
</div>
<app-header></app-header>
<main>
  <h3>
    <span>Screening Centre: {{bbDetails.screener}}</span>
    <br>Fill in the details for blood code {{bbCode}}</h3>
  <form (ngSubmit)="screenedResultSubmit()">
    <div class="test-section">
      <div>
        <h3>
          <strong>Test Result</strong>
        </h3>
        <h5>Select Blood Type</h5>
        <div class="blood-group">
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="Apositve" [(ngModel)]="bbDetails.Btype">
            <div>A+</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="Anegative" [(ngModel)]="bbDetails.Btype">
            <div>A-</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="Bpositve" [(ngModel)]="bbDetails.Btype">
            <div>B+</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="Bnegative" [(ngModel)]="bbDetails.Btype">
            <div>B-</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="ABpositve" [(ngModel)]="bbDetails.Btype">
            <div>AB+</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="ABnegative" [(ngModel)]="bbDetails.Btype">
            <div>AB-</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="Opositve" [(ngModel)]="bbDetails.Btype">
            <div>O+</div>
          </label>
          <label class="container">
            <input (change)="selectBloodType($event)" type="radio" name="Btype" value="Onegative" [(ngModel)]="bbDetails.Btype">
            <div>O-</div>
          </label>
        </div>
        <!-- <label>Unique Screening Center Code</label>
        <input name="screeningCode" type="text" placeholder="Type the Screening center code" [(ngModel)]="bbDetails.screener"> -->
        <label>PCV</label>
        <input name="PVC" type="number" placeholder="Type the PCV" [(ngModel)]="bbDetails.PVC">

        <div class="tests">

          <div class="each-test">
            <span>HIV</span>
            <div>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="HIV" value="Positive" [(ngModel)]="bbDetails.HIV">
                <span class="pos-result">Positive</span>
              </label>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="HIV" value="Negative" [(ngModel)]="bbDetails.HIV">
                <span class="nev-result">Negative</span>
              </label>
            </div>
          </div>

          <div class="each-test">
            <span>Hepatitis B</span>
            <div>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="hepatitisb" value="Positive" [(ngModel)]="bbDetails.HepatitisB">
                <span class="pos-result">Positive</span>
              </label>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="hepatitisb" value="Negative" [(ngModel)]="bbDetails.HepatitisB">
                <span class="nev-result">Negative</span>
              </label>
            </div>
          </div>

          <div class="each-test">
            <span>Hepatitis C</span>
            <div>
              <label class="test-done">
                <input (input)="changeResult($event)" type="radio" name="hepatitisc" value="Positive" [(ngModel)]="bbDetails.Hepatitisc">
                <span class="pos-result">Positive</span>
              </label>
              <label class="test-done">
                <input (input)="changeResult($event)" type="radio" name="hepatitisc" value="Negative" [(ngModel)]="bbDetails.Hepatitisc">
                <span class="nev-result">Negative</span>
              </label>
            </div>
          </div>

          <div class="each-test">
            <span>Syphillis</span>
            <div>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="syphillis" value="Positive" [(ngModel)]="bbDetails.Spyhills">
                <span class="pos-result">Positive</span>
              </label>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="syphillis" value="Negative" [(ngModel)]="bbDetails.Spyhills">
                <span class="nev-result">Negative</span>
              </label>
            </div>
          </div>

          <div class="each-test">
            <span>HCV</span>
            <div>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="HCV" value="Positive" [(ngModel)]="bbDetails.HCV">
                <span class="pos-result">Positive</span>
              </label>
              <label class="test-done">
                <input (change)="changeResult($event)" type="radio" name="HCV" value="Negative" [(ngModel)]="bbDetails.HCV">
                <span class="nev-result">Negative</span>
              </label>
            </div>
          </div>
          <div class="each-test">
            <span>Test Result</span>
            <div>
              <label *ngIf="true" class="test-done">
                <input type="radio" name="Safety" value="Unsafe" disabled [(ngModel)]="bbDetails.safety">
                <span class="pos-result">Unsafe</span>
              </label>
              <label *ngIf="true" class="test-done">
                <input type="radio" name="Safety" value="Safe" disabled [(ngModel)]="bbDetails.safety">
                <span class="nev-result">Safe</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</main>
