h3 strong {
  color: #B70303;
  font-size: 18px;
}

button {
  background-color: #FFA6A6;
  border-width: 0;
  width: 150px;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 4px;
  float: right;
  margin-top: 30px;
}

.test-section {
  margin-top: 80px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info > div {
  display: flex;
  margin: 5px 0;
}

.profile-info > div.test-info {
  margin: 20px 0;
}

.profile-info > div > p {
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px 0;
  align-items: center;
}

.profile-info > div > p:nth-child(2) {
  text-align: center;
  font-weight: bold;
}

.badblood {
  background-color: #B70303;
  color: #fff;
}

.goodblood {
  color: #fff;
  background-color: #27AE60;
}

@media screen and (min-width: 600px) {
  .test-section {
    padding-left: 30px;
  }

  .profile-info {
    width: 60%;
  }

  .profile-info > div > p:nth-child(2){
    width: 250px;
  }

  .profile-info > div p.profile-details{
    text-align: left;
    padding-left: 20px;
  }
}