<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<app-header></app-header>
<main>
  <h4>
    <span>Screening Centre: {{bbDetails.screener.split('#')[1] }}</span>
    <br>Details of blood bag code {{bbDetails.BagId}}
  </h4>
  <button (click)="makeEdit()">Change Details</button>
  <div class="test-section">
    <h3>
      <strong>Screening Centre Test Details</strong>
    </h3>
    <section class="profile-info">
      <div>
        <p>Blood Type</p>
        <p class="profile-details">{{bbDetails.Btype}}</p>
      </div>
      <div>
        <p>Screening Center Code</p>
        <p class="profile-details">{{bbDetails.screener.split('#')[1]}}</p>
      </div>
      <div>
        <p>PCV</p>
        <p class="profile-details">{{bbDetails.PVC}}</p>
      </div>
      <div>
        <p>Screeners Name</p>
        <p class="profile-details">Dele Ali</p>
      </div>
      <div class="test-info">
        <p>HIV</p>
        <p [class.badblood]="bbDetails.HIV == 'Positive'" [class.goodblood]="bbDetails.HIV == 'Negative'" class="results">{{bbDetails.HIV}}</p>
      </div>
      
      <div class="test-info">
        <p>Hepatitis B</p>
        <p [class.badblood]="bbDetails.HepatitisB == 'Positive'" [class.goodblood]="bbDetails.HepatitisB == 'Negative'" class="results">{{bbDetails.HepatitisB}}</p>
      </div>
      
      <div class="test-info">
        <p>Hepatitis C</p>
        <p [class.badblood]="bbDetails.Hepatitisc == 'Positive'" [class.goodblood]="bbDetails.Hepatitisc == 'Negative'" class="results">{{bbDetails.Hepatitisc}}</p>
      </div>
      
      <div class="test-info">
        <p>Spyhills</p>
        <p [class.badblood]="bbDetails.Spyhills == 'Positive'" [class.goodblood]="bbDetails.Spyhills == 'Negative'" class="results">{{bbDetails.Spyhills}}</p>
      </div>
      
      <div class="test-info">
        <p>HCV</p>
        <p [class.badblood]="bbDetails.HCV == 'Positive'" [class.goodblood]="bbDetails.HCV == 'Negative'" class="results">{{bbDetails.HCV}}</p>
      </div>
      
      <!-- <div class="test-info">
        <p>PCV</p>
        <p [class.badblood]="bbDetails.PVC == 'Positive'" [class.goodblood]="bbDetails.PVC == 'Negative'" class="results">{{bbDetails.PVC}}</p>
      </div> -->
      
      <div class="test-info">
        <p>Blood Result</p>
        <p [class.badblood]="bbDetails.safety == 'Unsafe'" [class.goodblood]="bbDetails.safety == 'Safe'" class="results">{{bbDetails.safety}}</p>
      </div>
      
    </section>
  </div>
</main>
