main {
  background-color: #B70303;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

  h1 {
    padding-bottom: .5em;
  }

a {
  color: rgb(228, 228, 228);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color: #a2a2a2;
}