<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<app-header></app-header>
<main>
  <h4>Summary details of blood code {{bbDetails.BagId}}</h4>
  <div class="test-section">
    <div class="hold1">
      <div class="test-info">
          <p class="test-details">Date of Donation</p>
          <em>{{bbDetails.DonationDate}}</em>
          <!-- <p class="test-details">Donor Code</p>
          <em *ngIf="bbDetails.owner">{{bbDetails.owner | codeGenerator}}</em> -->
          <p class="test-details">PCV</p>
          <em>{{bbDetails.PVC}}</em>
          <p class="test-details show1">Test Result <span [class.badblood]="bbDetails.safety == 'Unsafe'" [class.goodblood]="bbDetails.safety == 'Safe'">{{bbDetails.safety}}</span></p>
        </div>
        <p class="test-details show2">Test Result <span [class.badblood]="bbDetails.safety == 'Unsafe'" [class.goodblood]="bbDetails.safety == 'Safe'">{{bbDetails.safety}}</span></p>
        <div class="test-info">
          <p class="test-details">Blood Type</p>
          <em>{{ bbDetails.Btype }}</em>
          <p class="test-details">Unique Screening Centre</p>
          <em *ngIf="screeningCentres">{{ screeningCentres.ScreenerName }}</em>
          <p class="test-details">Blood Bank</p>
          <em *ngIf="bloodBanks">{{ bloodBanks.BankName }}</em>
        </div>
    </div>
  </div>
  <div class="test-section">
    <h3>Test Result</h3>
    <div class="bottom-hold">
      <div class="info-3">
        <div>
          <span>HIV</span>
          <span [class.badblood]="bbDetails.HIV == 'Positive'" [class.goodblood]="bbDetails.HIV == 'Negative'">{{bbDetails.HIV}}</span>
        </div>
        <div>
          <span>Hepatitis B</span>
          <span [class.badblood]="bbDetails.HepatitisB == 'Positive'" [class.goodblood]="bbDetails.HepatitisB == 'Negative'">{{bbDetails.HepatitisB}}</span>
        </div>
        <div>
          <span>Hepatitis C</span>
          <span [class.badblood]="bbDetails.Hepatitisc == 'Positive'" [class.goodblood]="bbDetails.Hepatitisc == 'Negative'">{{bbDetails.Hepatitisc}}</span>
        </div>
        <div>
          <span>Syphillis</span>
          <span [class.badblood]="bbDetails.Spyhills == 'Positive'" [class.goodblood]="bbDetails.Spyhills == 'Negative'">{{bbDetails.Spyhills}}</span>
        </div>
        <div>
          <span>HCV</span>
          <span [class.badblood]="bbDetails.HCV == 'Positive'" [class.goodblood]="bbDetails.HCV == 'Negative'">{{bbDetails.HCV}}</span>
        </div>
        <div>
          <span>Test Result</span>
          <span [class.badblood]="bbDetails.safety == 'Unsafe'" [class.goodblood]="bbDetails.safety == 'Safe'">{{bbDetails.safety}}</span>
        </div>
        <!-- <p>Supervisor Status: <strong>Jide Adamu</strong></p>
        <br>
        <p><em>{{bbDetails.Notes}}</em></p> -->
      </div>
      <div class="sticker-info">
        <img *ngIf="bbDetails.safety == 'Unsafe'" src="../../assets/Bad-Tag.png" alt=" Sicker label">
        <img *ngIf="bbDetails.safety == 'Safe'" src="../../assets/Tag-2-(1).png" alt=" Sicker label">
      </div>
    </div>
  </div>
</main>
