h4 {
  color: #FAFAFA;
  font-size: 20px;
}

h3 {
  color: #B70303;
  margin-top: 25px;
}

.hold1 {
  display: flex;
  flex-direction: column;
}

.test-section > p.test-details {
  order: 1;
}

.show1 {
  display: none;
}

.show1 span, .show2 span {
  padding: 5px 15px;
  border-radius: 4px;
  margin-left: 20px;
}

.info-3 > div *{
  width: 100%;
  padding:10px 0;
  box-sizing: border-box;
  font-weight: bold;
}

.info-3 > div span:nth-child(2) {
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.info-3 > div {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
}

.sticker-info {
  margin-top: 35px;
  text-align: center;
}

.badblood {
  background-color: #B70303;
  color: #fff;
}

.goodblood {
  color: #fff;
  background-color: #27AE60;
}

@media screen and (min-width: 600px) {

  main {
    padding: 5vh 8%;
  }

  .test-section {
    padding: 2vh 5vh;
  }

  .test-section > p.test-details {
    order: 0;
  }

  .show2 {
    display: none;
  }

  .show1 {
    display: block;
  }

  .test-section .hold1 {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .test-section .info-3 > div > span:nth-child(2){
    width: 300px;
  }

  .test-section .info-3 {
    width: 40%;
  } 

  .sticker-info {
    width: 60%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-hold {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {

}
