<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<div id="video-hold" *ngIf="showVid">
  <video id="video" #vid></video>
  <i (click)="vid.pause(); showVid = false" class="fas fa-chevron-circle-left"></i>
</div>
<main>
  <form (ngSubmit)="onSignIn()">
      <h1>Welcome</h1>
      <p>Type the Smart Tag Number to Create New Blood Information</p>
    <div>
      <input type="text" placeholder="Enter Smart Tag Number" [(ngModel)]="signInDetails.smartTagNum" name="smartTagNum" required>
      <input type="text" placeholder="Enter Unique ID" [(ngModel)]="signInDetails.uniqueID" name="uniqueID" required>
      <select name="accessLevel" [(ngModel)]="signInDetails.accessLevel" required>
        <!-- <option value="accesslevel">Access Level</option> -->
        <option value="bloodbank">Blood Bank</option>
        <option value="screeningcentre">Screening Centre</option>
      </select>
      <br>
      <br>
      <br>
      <button type="submit">Sign In</button>
      <!-- <hr class="hr-text" data-content="OR">
      <input type="button" value="Scan QR Code" id="scan-button" (click)="makeScan()"> -->
    </div>
  </form>
</main>