main {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

form {
  background-color: #fafafa;
  width: 90%;
  padding: 10vh 23px 5vh;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
}

form>div>* {
  margin-top: 15px;
  padding: 10px 0;
}

p {
  color: #828282;
  font-size: 18px;
}

h1 {
  font-size: 2.5em;
}

input {
  padding-left: 5px !Important;
  box-sizing: border-box;
}

button[type=submit] {
  background-color: #B70303;
  color: #fff;
  border-width: 0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

#scan-button {
  background-color: #BDBDBD;
  color: #fff;
  border-width: 0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

/* For the line splited by text */

.container {
  max-width: 50%;
  margin: 40px auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #444442, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #20201f;
  background-color: #fcfcfa;
}

#video-hold {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#video-hold i{
  position: absolute;
  z-index: 999;
  bottom: 10%;
  right: 10%;
  font-size: 64px;
  color: #B70303;
}

input[type="file"] {
  display: none;
}

@media screen and (min-width: 600px) {
  form {
    width: 50%;
  }
  p {
    font-size: 20px;
  }
  h1 {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1100px) {
  form {
    width: 30%;
  }
}
