.overlay {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

.overlay > div {
  background-color: #fafafa;
  width: 80%;
  position: relative;
  color: #333;
  margin: 20vh auto 0;
  text-align: center;
  padding: 40px 10px 20px;
  border-radius: 4px;
}

.overlay > div > button {
  color: #fff;
  margin: 20px 5px 5px;
}

i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.overlay button {
  margin: 25px 0 0 0;
  padding: 12px 40px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-weight: bold;
  border-width: 0;
}

.test-section > div {
  padding: 1vh 2vh;
  display: flex;
  flex-direction: column;
}

.blood-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

/* main > h3 {
  color: #fafafa;
} */

h3 {
  margin: 20px 0;
}

h3 strong {
  margin: 0 0 15px;
}
/* The container */
.container {
  position: relative;
  margin: 10px 9px 10px 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  width: 70px;
  display: block;
  border: 1px solid #333;
}

label > div {
  width: inherit;
  height: inherit;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}


/* When the radio button is checked */
label input:checked ~ div {
  background-color: #333;
  color: #fafafa;
  font-weight: bold;
}

input[type="text"] {
  padding: 5px 2px;
  margin: 2px auto 15px;
  width: 100%;
  font-size: 18px;
}

.tests {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.each-test {
  display: flex;
  padding: 20px 0;
  align-items: center;
  font-size: 15px;
}


.each-test > span{
  flex: 1;
}

.each-test > div {
  flex: 2;
}

.each-test :nth-child(2) {
  display: flex;
  width: 80px;
  justify-content: space-between;
}


.test-done :nth-child(2){
  padding: 8px 0px;
  margin: 10px auto;
  color: #fafafa;
  border-radius: 2px;
  text-align: center;
  border-width: 0;
  display: inline-block;
}


.pos-result {
  background-color: #B70303;
}


.nev-result {
  background-color: #27AE60;
}


/* For the tests radio button */
.test-done {
  position: relative;
  text-align: center;
  cursor: pointer;
}

/* When the radio button is not checked */
label input:not(:checked) ~ span {
  background-color: #a2a2a2;
  color: #fafafa;
  opacity: 0.3;
}

button[type="submit"] {
  margin-top: 50px;
  border-width: 0;
  border-radius: 2px;
  background-color: #fafafa;
  font-size: 18px;
  padding: 10px 50px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .test-section > div {
    width: 45%;
  }

  .each-test :nth-child(2) {
    justify-content: space-around;
    width: 100px;
  }

  input[type="text"] {
    width: 60%;
    margin-left: 0;
  }

  .each-test {
    font-size: 18px;
    width: 75%;
  }
}

@media screen and (min-width: 1000px) {
  .test-section > div {
    width: 55%;
  }

  .blood-group {
    width: 80%;
  }

  .container {
    margin: 50px 10px 5px 0px;
    height: 35px;
    width: 65px;
  }
  
  .overlay > div {
    width: 25%;
    padding-top: 50px;
  }
}