<div class="loader-section" *ngIf="isLoading">
  <div class="spinner spinner-1"></div>
</div>
<div class="overlay" *ngIf="confirmResults">
  <div>
    <i class="fa fa-times" (click)="confirmResults = false"></i>
    <p>This is to confirm that you want to submit the filled form</p>
    <button [style.background-color]="'#27AE60'" (click)="sendResult()">Yes</button>
    <button [style.background-color]="'#B70303'" (click)="confirmResults = false">No</button>
  </div>
</div>
<app-header></app-header>
<main>
  <h3><span>BloodBank: {{bbDetails.owner.split('#')[1]}}</span><br>Fill in the details for blood code {{bbCode}}</h3>
  <form (ngSubmit)="bloodBankResultSubmit()">
    <div class="test-section">
      <!-- <label for="donor-code">Donor Code</label>
      <input type="text" placeholder="Type Donor Code" name="donor-code" [(ngModel)]="bloodBankDetails.owner"> -->
      <label for="donation-date">Date of Donation</label>
      <input type="date" placeholder="dd/mm/yyyy" name="donation-date" [(ngModel)]="bbDetails.DonationDate">
      <label for="u-bb-code">Unique Screening Centre Code</label>
      <select name="screening-center" [(ngModel)]="myscreener">
        <option *ngFor="let screeningCentre of screeningCentres" [value]="screeningCentre.screenerId">{{ screeningCentre.ScreenerName }}</option>
      </select>
    </div>
    <button type="submit">Save Details</button>
  </form>
</main>