.overlay {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100vh;
  position: fixed;
}

.overlay > div {
  background-color: #fafafa;
  width: 80%;
  position: relative;
  color: #333;
  margin: 20vh auto 0;
  text-align: center;
  padding: 40px 10px 20px;
  border-radius: 4px;
}

.overlay > div > button {
  color: #fff;
  margin: 20px 5px 5px;
}

i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

main {
  min-height: 78vh;
}
h3 {
  color: #fafafa;
}

form {
  margin-top: 100px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > input, select {
  margin: 10px auto 20px;
  width: 100%;
  padding: 10px 5px;
}

button {
  margin: 25px 0 0 0;
  padding: 12px 40px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-weight: bold;
  border-width: 0;
}

@media screen and (min-width:600px) {
  form > div > input {
    width: 40%;
    margin-left: 0;
  }

  .overlay > div {
    width: 25%;
    padding-top: 50px;
  }
}