/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  background-color: #B70303;
  min-height: 81vh;
  width: 100%;
  padding: 5vh 8%;
  box-sizing: border-box;
}

main > h4 {
  color: #FAFAFA;
  font-size: 17px;
}

.test-section {
  background-color: #FAFAFA;
  margin-top: 3vh;
  min-height: 20vh;
  padding: 4vh 2vh;
  color: #333;
  border-radius: 4px;
  font-size: 18px;
}

.safe-result {
  background-color: #27AE60;
}

.test-details {
  margin: 20px 0 5px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

input, select {
  font-size: 20px;
  background-color: #FAFAF3;
  line-height: 31px;
  border-radius: 4px;
  border: 2px solid #aaa;
  padding-left: 5px;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: rgb(30, 143, 255);
}


/* CSS for the spinner */

.loader-section {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #B70303;
  border-bottom-color: #B70303;
  -webkit-animation: spinny 1s linear infinite;
          animation: spinny 1s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

/* CSS for the spinner end */