<div id="bg-div">
  <div id="wrap">
    <header>
      <img src="../assets/white-logo.png" alt="Logo" width="13%" height="50vh">
      <!-- Commented this out cause the just any user shouldn't be a ble to log into the app -->
      <!-- <div>
        <button *ngIf="!loginService.loggedIn" id="Login" routerLink="/login">Login</button>
        <button *ngIf="loginService.loggedIn" id="logout" (click)="onLogOut()">Log Out</button>
      </div> -->
    </header>
    <div id="center-hold">
      <h1>Innovative Smart Blood Transit System</h1>
      <p>SmartBag Tag is a blockchain powered product that helps patients and healthcare providers discover the safety record of blood.</p>
      <form (ngSubmit)="onSubmit(bbCodeForm)" #bbCodeForm="ngForm">
        <div id="input-icon">
          <input class="form-control" type="text" placeholder="Enter any five digits" ngModel name="bloodBagCode" #bbCode="ngModel" pattern="[0-9]{5}" required>
          <div>
            <i class="fas fa-search"></i>
          </div>
        </div>
        <button id="submit" type="submit">Try it</button>
      </form>
      <p [ngStyle]="{'color': '#f00'}">{{ invalidCode }}</p>
    </div>
  </div>
</div>
