#bg-div {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../../assets/Master.jpg');
  background-size: cover;
  color: #fff;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 10vh; */
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  left: 15px
}

img {
  width: 145px;
}

header button {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#center-hold {
  width: 98%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Lato', sans-serif;
  line-height: 43px;
  margin-bottom: 1vh;
  font-weight: 300;
}

p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3%;
  margin: .5vh auto 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  background-color: #B70303;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-width: 0;
}

#input-icon {
  position: relative;
  display: flex;
  width: 95%;
}

#input-icon i {
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.6em;
  top: 22%;
  left: 2%;
}

input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: #FAFAF3;
  line-height: 31px;
  letter-spacing: 3%;
  border-radius: 4px;
  border: 2px solid #aaa;
  padding-left: 55px;
}

input:focus {
  border-color: rgb(30, 143, 255);
}

@media screen and (min-width: 600px) {
  #center-hold {
    width: 50%;
  }

  form {
    flex-direction: row;
  }

  header button {
    background-color: #B70303;
    width: 130px;
    height: 40px;
    border-radius: 4px;
  }
}
